name: Build

on:
  push:
  workflow_dispatch:

env:
  DOTNET_VERSION: "8.0.x"
  BUILD_CONFIGURATION: Release
  BUILD_PLATFORM: x64

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Build solution
      run: |
        dotnet publish -c ${{env.BUILD_CONFIGURATION}} /p:Platform=${{env.BUILD_PLATFORM}} -r win-x64 --no-self-contained

    # Sleep timer
    - name: Sleep 5 seconds
      run: powershell -Command "Start-Sleep -Seconds 5"

    # Prepare web folder
    - name: Prepare web folder
      run: |
        mkdir web-builds
        mkdir web-builds/Archiver
        mkdir web-builds/DataStoreExtractor
        mkdir web-builds/AppxRenamer

        copy CoreTool\bin\x64\Release\net8.0-windows\win-x64\publish\* web-builds/Archiver
        copy DataStoreExtractor\bin\x64\Release\net8.0-windows\win-x64\publish\* web-builds/DataStoreExtractor
        copy AppxRenamer\bin\x64\Release\net8.0\win-x64\publish\* web-builds/AppxRenamer

    - name: Create index.html
      run: |
        echo "<html><body><h2>Minecraft Build Downloads</h2>" > web-builds/index.html
        echo "<p><a href='Archiver/'>Archiver</a></p>" >> web-builds/index.html
        echo "<p><a href='DataStoreExtractor/'>DataStoreExtractor</a></p>" >> web-builds/index.html
        echo "<p><a href='AppxRenamer/'>AppxRenamer</a></p>" >> web-builds/index.html
        echo "</body></html>" >> web-builds/index.html

    - name: Upload Pages Artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: web-builds

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v4
